[Desktop Entry]
Type=Application
Name=Bing Wallpaper for Linux
Version=1.0
Path=usr/bin    
Exec=bingwallpaper.bin
Icon=usr/share/Bing-Wallpaper/icons/icon.png
Terminal=false
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
Categories=Languages;Python;